@font-face {
  font-family: "Overpass";
  src: local("Overpass ExtraLight"),
        local(Overpass-ExtraLight),    
        url(../fonts/Overpass-ExtraLight.ttf); 
  font-weight: 200;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass Light"),
        local(Overpass-Light),    
        url(../fonts/Overpass-Light.ttf); 
  font-weight: 300;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass Regular"),
        local(Overpass),
        local(Overpass-Regular),    
        url(../fonts/Overpass-Regular.ttf); 
  font-weight: 400;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass Bold"),
        local(Overpass-Bold),
        local(Overpass-Bold),    
        url(../fonts/Overpass-Bold.ttf); 
  font-weight: 700;
}

/* Oblique */

@font-face {
  font-family: "Overpass";
  src: local("Overpass ExtraLight Italic"),
        local(Overpass-ExtraLight-Italic),    
        url(../fonts/Overpass-ExtraLight-Italic.ttf); 
  font-weight: 200;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass Light Italic"),
        local(Overpass-Light-Italic),
        url(../fonts/Overpass-Light-Italic.ttf); 
  font-weight: 300;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass Italic"),
        local(Overpass-Italic),
        local(Overpass-Regular-Italic),    
        url(../fonts/Overpass-Regular-Italic.ttf); 
  font-weight: 400;
}

@font-face {
  font-family: "Overpass";
  src: local("Overpass Bold Italic"),
        local(Overpass-Bold-Italic),
        local(Overpass-Bold-Italic),
        url(../fonts/Overpass-Bold-Italic.ttf); 
  font-weight: 700;
}
