{% extends "base.html" %}

{% block title %}The future of apps on Linux{% endblock %}
{% block description %}The days of chasing multiple Linux distributions are over. Standalone apps for Linux are here!{% endblock %}

{% block hero_class %} landing{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
{# ---- App showcase ---- #}
<div class="container">
  <div class="left-img"><img alt="Popular apps available as Flatpaks" src="{{ get_url(path='img/apps-illustration.svg') }}"></div>
  <div class="right-text">
    <h2>Start using Flatpak</h2>
    <p>Install from a growing collection of apps on <a href="https://flathub.org/">Flathub</a>.</p>
    <p>
      <a class="btn suggested" href="https://flathub.org/setup">Get set up</a>
    </p>
  </div>
</div>

{# ---- Developer benefits ---- #}
<div class="container">
  <h2 class="full">A new world for application developers</h2>
  <div class="features">
    <div>
      <h4>Build for every distro</h4>
      <p>Create one app and distribute it to the entire Linux desktop market.</p>
    </div>
    <div>
      <h4>Stable platforms</h4>
      <p>Runtimes provide platforms of common libraries that you can depend on.</p>
    </div>
    <div>
      <h4>Consistent environments</h4>
      <p>Develop and test your application in an environment that's identical to the one users have.</p>
    </div>
    <div>
      <h4>Full control over dependencies</h4>
      <p>Flatpak makes it easy to bundle your own libraries as part of your app.</p>
    </div>
    <div>
      <h4>Easy build tools</h4>
      <p>Flatpak's build tools are simple and easy to use, and come with a <a href="https://docs.flatpak.org/">full set of documentation.</a></p>
    </div>
    <div>
      <h4>Future-proof builds</h4>
      <p>Flatpak apps continue to be compatible with new versions of Linux distributions.</p>
    </div>
    <div>
      <h4>Distribution made easy</h4>
      <p>Make your app available to a rapidly growing audience of Flatpak users, with <a href="https://flathub.org/">Flathub.</a></p>
    </div>
    <div>
      <h4>An independent project</h4>
      <p>Flatpak is developed by an independent community, with no lock-in to a single vendor.</p>
    </div>
  </div>
  <p class="full centered">
    <a class="btn" href="https://docs.flatpak.org/en/latest/getting-started.html">5 minute tutorial</a>
    <a class="btn suggested" href="https://docs.flatpak.org/en/latest/">Developer guide</a>
  </p>
</div>

{# ---- Distro showcase ---- #}
<div class="colored-row">
  <h2>Works with dozens of distributions</h2>
  <p>See the <a href="https://flathub.org/setup">complete setup guide.</a></p>
  <div class="distro-showcase">
    <a href="https://flathub.org/setup/Ubuntu"><img src="{{ get_url(path='img/distro/ubuntu.png') }}" alt="Ubuntu" title="Ubuntu" loading="lazy"></a>
    <a href="https://flathub.org/setup/Fedora"><img src="{{ get_url(path='img/distro/fedora.png') }}" alt="Fedora" title="Fedora" loading="lazy"></a>
    <a href="https://flathub.org/setup/Red%20Hat%20Enterprise%20Linux"><img src="{{ get_url(path='img/distro/redhat.png') }}" alt="Red Hat Enterprise Linux" title="Red Hat Enterprise Linux" loading="lazy"></a>
    <a href="https://flathub.org/setup/Debian"><img src="{{ get_url(path='img/distro/debian.png') }}" alt="Debian" title="Debian" loading="lazy"></a>
    <a href="https://flathub.org/setup/Arch"><img src="{{ get_url(path='img/distro/archlinux.png') }}" alt="Arch Linux" title="Arch Linux" loading="lazy"></a>
    <a href="https://flathub.org/setup/Endless%20OS"><img src="{{ get_url(path='img/distro/eos.png') }}" alt="Endless OS" title="Endless OS" loading="lazy"></a>
  </div>
</div>

{# ---- Testimonials ---- #}
<div class="container">
  <h2 class="full centered">What people are saying about Flatpak</h2>
  <div class="testimonials">
      <blockquote>
        <p>Bringing Flatpak technology into Debian enables us to run applications in a predictable environment with their most suitable library stack, without compromising the base OS's stability and flexibility.</p>
        <div class="author">
          <em>Simon McVittie</em>
          <span class="title">Senior Software Engineer, Collabora</span>
        </div>
      </blockquote>
      <blockquote>
        <p>At Endless, we're proud to be a part of this movement and have fully embraced Flatpak by readily converting all of our applications for our upcoming release and continuing to build new Flatpak apps.</p>
        <div class="author">
          <em>Jonathan Blandford</em>
          <span class="title">VP of Software Engineering, Endless</span>
        </div>
      </blockquote>
      <blockquote>
        <p>The Fedora Workstation team are very excited about Flatpak and the prospects it brings for making the Linux desktop easier to develop for. We plan to continue supporting this effort going forward.</p>
        <div class="author">
          <em>Christian F.K. Schaller</em>
          <span class="title">Senior Manager, Red Hat</span>
        </div>
      </blockquote>
      <blockquote>
        <p>Flatpak will enable us (as a Linux ISV) to distribute a better LibreOffice, with up-to-date dependencies and a platform that can run on many systems. I'm excited to see that happen.</p>
        <div class="author">
          <em>Michael Meeks</em>
          <span class="title">Director, The Document Foundation</span>
        </div>
      </blockquote>
  </div>
</div>
{% endblock %}
