{% extends "base.html" %}

{% block hero_class %} compact{% endblock %}

{% block hero %}
  <div>
    <h1>{{ page.title }} Quick Setup</h1>
    <p>Follow these simple steps to start using Flatpak</p>
  </div>
{% endblock %}

{% block content %}
<div class="page-content">
  {% if page.extra.introduction is defined %}
    {{ page.extra.introduction | safe }}
  {% endif %}

  {% if page.extra.steps is defined %}
  <ol class="distrotut">
    {% for step in page.extra.steps %}
    <li>
      <h2>{{ step.name }}</h2>
      {{ step.text | safe }}
    </li>
    {% endfor %}
  </ol>
  {% endif %}
</div>
{% endblock %}
