{% extends "base.html" %}

{% block hero_class %} compact{% endblock %}

{% block hero %}
  <div>
    <h1>Quick Setup</h1>
    <p>Select your distro to get set up.</p>
  </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="distrogrid">
      {% set setup = get_section(path="setup/_index.md") %}
      {% for page in setup.pages | sort(attribute="title") %}
        <a href="{{ page.permalink }}">
          {% if page.extra.logo_dark is defined %}
          <picture>
            <source srcset="{{ get_url(path='img/distro/' ~ page.extra.logo_dark) }}" media="(prefers-color-scheme: dark)">
            <img src="{{ get_url(path='img/distro/' ~ page.extra.logo) }}" alt="{{ page.title }}" title="{{ page.title }}" loading="lazy">
          </picture>
          {% else %}
          <img src="{{ get_url(path='img/distro/' ~ page.extra.logo) }}" alt="{{ page.title }}" title="{{ page.title }}" loading="lazy">
          {% endif %}
        </a>
      {% endfor %}
    </div>
</div>
{% endblock %}
