---
title: Flatpak—page not found
description: 404 Page not Found
---

%section#notfound
  .container
    .row
      .col-lg-5.col-lg-offset-4
        %p
          = partial "404.svg"
        %p.centered
          Sorry, that page can't be found.
