---
title: Flatpak -- page not found
description: 404 Page not Found
---

%section#notfound
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Oops
        %p
          = partial "404.svg"
        %p.centered
          The page you're looking for is no longer there.
