---
title: Flatpak—the future of application distribution
description: About Flatpak
---

%section#about
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center About Us
        %hr.primary
        %p
          Flatpak is developed by an independent community, made up of contributors, volunteers and supporting organizations. It is a true upstream open source project, dedicated to providing technology and services that can be used by all, with no vendor lock-in. We have strong links to other Free Software projects, including the Freedesktop project.
        %p
          All our code is freely available, with no contributor agreement required. Volunteers and contributing organizations are welcome, as equal partners.
    .row
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center Contact
        %hr.primary
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown Mailing list
      .col-lg-4.col-xs-8
        =link_to "flatpak at lists.freedesktop.org", "https://lists.freedesktop.org/mailman/listinfo/flatpak"
    .row
      .col-lg-4.col-xs-2.col-lg-offset-2
        .right.toneddown Private mailing list for security issues
      .col-lg-4.col-xs-8
        =link_to "flatpak-security at lists.freedesktop.org", "https://lists.freedesktop.org/mailman/listinfo/flatpak-security"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown Matrix
      .col-lg-4.col-xs-8
        =link_to "#flatpak on Matrix.org", "https://matrix.to/#/#flatpak:matrix.org"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown GitHub
      .col-lg-4.col-xs-8
        =link_to "github.com/flatpak", "https://github.com/flatpak"
    .row.largegap
      .col-lg-8.col-lg-offset-2
        %p
          Issues with this website can be reported through its
          = succeed "." do
            =link_to "GitHub project", "https://github.com/flatpak/flatpak.github.io/issues"#
    .row.largegap
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center Flatpak History
        %hr.primary
        .timeline.mediumgap
          .date August 2007
          .description
            Alexander Larsson releases Glick, his first app bundling framework
          .date November 2011
          .description
            Glick 2 is released, a modernized version of the first Glick framework
          .date July 2012
          .decription
            “GNOME OS” session held at GUADEC, includes initial planning for a new app bundling format
          .date September 2012
          .description
            Alexander Larsson releases experimental “bundler” framework
          .date January 2013
          .description
            “Linux Apps” proposal discussed at the GNOME Developer Experience hackfest, Brussels
          .date December 2014
          .description
            Work begins on xdg-app, which later becomes Flatpak
          .date March 2015
          .descripton
            xdg-app 0.1 released, the very first version of Flatpak
          .date December 2015
          .description
            GNOME's “Software” gains the ability to install xdg-app applications
          .date May 2016
          .description
            xdg-app renamed to Flatpak, 0.6.0 released;
            = succeed " included endorsements by Red Hat, Endless Computers and Collabora" do
              =link_to "accompanying press release", "https://flatpak.org/press/2016-06-21-flatpak-released.html"
          .date June 2016
          .description
            Work on desktop portals security framework begins
          .date July 2016
          .description
            GTK+ 3.21.4 released with initial support for the portals framework
          .date August 2016
          .description
            Endless OS 3.0 released, the first publicly available OS to use Flatpak by default. Adoption of Flatpak by Apertis IVI also becomes public knowledge.
          .date November 2016
          .description
            ClearLinux announces their adoption of Flatpak
          .date December 2016
          .description
            Flatpak 0.8.0 released, the start of the first stable series with long-term support
          .date May 2017
          .description
            Initial soft launch of Flathub hosting service
          .date May 2017
          .description
            KDE Plasma 5.10 released with initial support for portals
          .date October 2017
          .description
            Flatpak 0.10.0 released, marking the start of the second supported stable release series
          .date October 2017
          .description
            KDE Plasma 5.11 released, “Discover” gains the ability to install Flatpak apps
          .date November 2017
          .description
            Linux Mint 18.3 released, includes out of the box Flatpak integration
          .date August 2018
          .description
            Flatpak 1.0 released, the first release in a new stable series, with major new features; Flathub beta period ends; Freedesktop runtime 18.08 released with new support period policy
          .date December 2019
          .description
            elementary OS 5.1 Hera released, includes out of the box Flatpak integration
