---
title: Flatpak—the future of application distribution
description: About Flatpak
---

%section#about
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center About Us
        %hr.primary
        %p
          Flatpak is developed by an independent community, made up of contributors, volunteers and supporting organizations. It is a true upstream open source project, dedicated to providing technology and services that can be used by all, with no vendor lock-in. We have strong links to other Free Software projects, including the Freedesktop project.
        %p
          All our code is freely available, with no contributor agreement required. Volunteers and contributing organizations are welcome, as equal partners.
    .row
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center Contact
        %hr.primary
        %p
          All our code is freely available, with no contributor agreement required. Volunteers and contributing organizations are welcome, as equal partners.
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown Mailing list
      .col-lg-4.col-xs-8
        =link_to "flatpak@lists.freedesktop.org", "http://lists.freedesktop.org/mailman/listinfo/flatpak"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown IRC
      .col-lg-4.col-xs-8
        =link_to "#flatpak on Freenode", "irc://freenode.net:6697/flatpak"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown GitHub project
      .col-lg-4.col-xs-8
        =link_to "github.com/flatpak/flatpak", "https://github.com/flatpak/flatpak"
    .row.largegap
      .col-lg-8.col-lg-offset-2
        %p
          Issues with this website can be reported through its
          = succeed "." do
            =link_to "GitHub project", "https://github.com/flatpak/flatpak.github.io/issues"#
    .row.largegap
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center A Brief Flatpak History
        %hr.primary
        .timeline.mediumgap
          .date August 2007 
          .description 
            Initial release of Glick, Alex's first app bundling project
          .date November 2011
          .description
            Release of Glick 2, Alex's second app bundling project
          .date July 2012 
          .decription
            "GNOME OS" session held at GUADEC: a high level discussion of GNOME's application developer experience. One outcome was a commitment to plan a new application bundling format.
          .date September 2012 
          .description
            Alex releases experimental "bundler" framework
          .date January 2013
          .description
            Planning meetings at GNOME Developer Experience hackfest, Brussels, including discussion of a "Linux Apps" proposal
          .date December 2014
          .description
            Work begins on xdg-app
          .date September 2015
          .descripton
            Initial xdg-app release
          .date March 2016 
          .description
            First major xdg-app release
          .date June 2016
          .description
            xdg-app renamed to Flatpak. Accompanying press release includes endorsements by Red Hat, Endless Computers and Collabora.
          .date August 2016
          .description
            Endless OS 3.0 released, the first publicly available OS to use Flatpak by default. Adoption of Flatpak by Apertis IVI becomes public knowledge.
          .date October 2016
          .description
            Flatpak 0.6.13 released
          .date November 2016
          .description
            ClearLinux announces their adoption of Flatpak
          .date May 2017
          .description
            Initial soft launch of Flathub hosting service
          .date November 2017
          .description
            Linux Mint 18.3, Sylvia, released, with Flatpak integration built-in
          .date August 2018
          .description
            Release of Flatpak 1.0
