---
title: Flatpak—the future of application distribution
description: About Flatpak
---

%section#about
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center About Us
        %hr.primary
        %p
          Flatpak is developed by an independent community, made up of contributors, volunteers and supporting organizations. It is a true upstream open source project, dedicated to providing technology and services that can be used by all, with no vendor lock-in. We have strong links to other Free Software projects, including the Freedesktop project.
        %p
          All our code is freely available, with no contributor agreement required. Volunteers and contributing organizations are welcome, as equal partners.
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Contact
        %hr.primary
        %p
          All our code is freely available, with no contributor agreement required. Volunteers and contributing organizations are welcome, as equal partners.
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown Mailing list
      .col-lg-4.col-xs-8
        =link_to "flatpak@lists.freedesktop.org", "http://lists.freedesktop.org/mailman/listinfo/flatpak"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown IRC
      .col-lg-4.col-xs-8
        =link_to "#flatpak on Freenode", "irc://freenode.net:6697/flatpak"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown GitHub project
      .col-lg-4.col-xs-8
        =link_to "github.com/flatpak/flatpak", "https://github.com/flatpak/flatpak"
    .row.largegap
      .col-lg-10.col-lg-offset-1
        %p
          Issues with this website can be reported through its
          = succeed "." do
            =link_to "GitHub project", "https://github.com/flatpak/flatpak.github.io/issues"#
    .row.largegap
      .col-lg-10.col-lg-offset-1
        %h3 A Brief Flatpak History
        %p
          August 2007 - initial release of Glick, Alex's first app bundling project
        %p
          November 2011 - release of Glick 2, Alex's second app bundling project
        %p
          July 2012 - "GNOME OS" session held at GUADEC: a high level discussion of GNOME's application developer experience. One outcome was a commitment to plan a new application bundling format.
        %p
          September 2012 - Alex releases experimental "bundler" framework
        %p
          January 2013 - planning meetings at GNOME Developer Experience hackfest, Brussels, including discussion of a "Linux Apps" proposal
        %p
          December 2014 - work begins on xdg-app
        %p 
          September 2015 - initial xdg-app release
        %p
          March 2016 - first major xdg-app release
        %p
          June 2016 - xdg-app renamed to Flatpak. Accompanying press release includes endorsements by Red Hat, Endless Computers and Collabora.
        %p
          August 2016 -  Endless OS 3.0 released, the first publicly available OS to use Flatpak by default. Adoption of Flatpak by Apertis IVI becomes public knowledge.
        %p
          October 2016 - Flatpak 0.6.13 released
        %p
          November 2016 - ClearLinux announces their adoption of Flatpak
        %p
          May 2017 - initial soft launch of Flathub hosting service
        %p
          November 2017 - Linux Mint 18.3, Sylvia, released, with Flatpak integration built-in
        %p
          August 2018 - release of Flatpak 1.0