%header
  .header-content
    .header-content-inner
      %h1 the future of application distribution
      %hr
        %p The days of chasing multiple Linux distributions are over. Standalone apps for Linux are here!
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out How
%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Self-contained and future proof
        %hr.light
          %p.text-faded Distributing applications on Linux is a pain: different distributions in multiple versions, each with their own versions of libraries. Flatpak is here to change all that.
          %p &nbsp;
  .container
    .row
      .col-lg-4.col-sm-6
        %h3.text-center Cross platform
        %p Build and install the same app on different Linux distributions
      .col-lg-4.col-sm-6
        %h3.text-center Stable
        %p Install and run the same app on different distribution versions
      .col-lg-4.col-lg-offset-0.col-sm-6.col-sm-offset-3
        %h3.text-center Secure
        %p Apps are isolated from the host system and from other apps

    .row
      .col-lg-12.text-center
        %h2.voffset How it works
        %hr.light
          %p.text-faded Flatpak is based on some basic ideas.
          %p &nbsp;
    .row
      .col-lg-4.col-sm-6
        %h3.text-center Runtimes
        %p Runtimes contain the dependencies that are used by apps. They are always the same, whatever Linux distribution is being used. It means that apps no longer have to be updated to keep pace with distribution changes.
      .col-lg-4.col-sm-6
        %h3.text-center Bundled Libraries
        %p Dependencies that aren't in a runtime can be bundled as part of the app. This makes it possible to use dependencies that aren't in a distribution, and to use a different version of a dependency than the one that's in a distribution.
      .col-lg-4.col-lg-offset-0.col-sm-6.col-sm-offset-3
        %h3.text-center Sandboxes
        %p Flatpak isolates apps from the host OS as well as from other applications. This provides security for users and a predictable environment for developers. (Some of these features are work in progress)
        
        
%section#users
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Install and Run a Flatpak
        %hr.primary
        %p
          With Flatpak, applications can be safely updated on a running system, without 
          fear of conflicts occuring. Flatpak also allows multiple versions of the same 
          application to be installed at the same time, which is great for testing 
          development or testing versions. And in the future, Flatpak's security first approach 
          guarantee greater privacy and peace of mind.
        %p
          A collection of applications are available as Flatpaks, which you can try yourself.
          %ul
            %li
              %a{:href => "https://wiki.gnome.org/Projects/SandboxedApps/NightlyGraphicsBuilds"} Nightly builds
              of GIMP, InkScape, DarkTable, MyPaint, Scribus
            %li Stable builds (TBD: link) of core GNOME applications
            %li LibreOffice builds (TBD: link)
        %p
          In the near future, you will be able to install flatpaks painlessly from graphical tools
          such as GNOME Software:

        <p><iframe height="600" src="https://www.youtube.com/embed/RsNqT13uIQo?feature=oembed" frameborder="0" allowfullscreen class="full"></iframe></p>

        %p
          Until then, you can use the commandline tool to install and update flatpaks.

        %h3 1. Install Flatpak
        %p
          Before you can install applications with Flatpak, you need to install
          Flatpak itself. Currently this has to be done using the command line.
          This section contains instructions for installing Flatpak on Fedora or Ubuntu.
          Details on how to install Flatpak on other distros are available on the 
          %a{:href => "getting.html"} getting Flatpak
          page.
        %p
          With Fedora, run:
        %pre
          :preserve
            $ sudo dnf install flatpak
        %p
          On Ubuntu, Flatpak is available through a PPA. To install it, run:
        %pre
          :preserve
            $ sudo add-apt-repository ppa:alexlarsson/flatpak
            $ sudo apt-get update
            $ sudo apt-get install flatpak
        %h3 2. Add repositories
        %p
          Flatpak allows you to install software from remote repositories. For this
          example we're going to use two repositories: one which contains GNOME apps,
          and one which contains the runtime that provides the dependencies
          they need.
        %pre
          :preserve
            $ wget https://sdk.gnome.org/keys/gnome-sdk.gpg
            $ flatpak remote-add --gpg-import=gnome-sdk.gpg gnome https://sdk.gnome.org/repo/
            $ flatpak remote-add --gpg-import=gnome-sdk.gpg gnome-apps https://sdk.gnome.org/repo-apps/
        %h3 3. Install a runtime
        %p
          The runtime provides the dependencies needed by the apps in the GNOME
          repository.
        %pre
          :preserve
            $ flatpak install gnome org.gnome.Platform 3.20
        %p Once this is complete, you're all set to install some apps!
        %h3 4. View, install and run apps
        %p
          To view which apps are availalbe in the gnome-apps repository, just run:
        %pre
          :preserve
            $ flatpak remote-ls gnome-apps --app
        %p
          To download and install an app, like gedit, run:
        %pre
          :preserve
            $ flatpak install gnome-apps org.gnome.gedit stable
        %p
          Installed applications should appear in the usual place in your desktop. You can also run them from the command line:
        %pre
          :preserve
            $ flatpak run org.gnome.gedit stable

%section#developers.no-padding
  
%aside.bg-dark
  .container
    .call-to-action


  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Create an App with Flatpak
        %hr.primary
        %p
          Developers can quickly get started using the tutorial below. More detailed information is available in 
          the 
          =link_to 'developers page.', 'developer.html'
        %h3 1. Install Flatpak
        %p
          First we need to install Flatpak itself. The instructions here are for Fedora or Ubuntu.
          Details for other distros can be found on the
          %a{:href => "getting.html"} getting Flatpak
          page.
          If you are using Fedora, run:
        %pre
          :preserve
            $ sudo dnf install flatpak
        %p
          On Ubuntu, Flatpak is available through a PPA. To install it, run:
        %pre
          :preserve
            $ sudo add-apt-repository ppa:alexlarsson/flatpak
            $ sudo apt-get update
            $ sudo apt-get install flatpak
        %h3 2. Install a runtime
        %p
          Flatpak requires every app to specify a runtime that it uses for its dependencies.
          We'll use the GNOME 3.20 development platform runtime for this. To install the runtime, 
          we first need to add the repository that provides it. Run:
        %pre
          :preserve
            $ wget https://sdk.gnome.org/keys/gnome-sdk.gpg
            $ flatpak remote-add --gpg-import=gnome-sdk.gpg gnome https://sdk.gnome.org/repo/
        %p And then install the runtime itself:
        %pre
          :preserve
            $ flatpak install gnome org.gnome.Platform 3.20
        %h3 3. Create your app
        %p
          First we need to create the directory structure for the app:
        %pre
          :preserve
            mkdir hello
            mkdir hello/files
            mkdir hello/files/bin
            mkdir hello/export
        %p
          Now let's add something simple: create a file in 
          %code hello/files/bin/
          called 
          = succeed "." do
            %code hello.sh
          Then add the following to the file and save it:
        %pre
          :preserve
            #!/bin/sh
            echo "Hello world, from a sandbox"
        %p
          Now we need to provide some information about the application.
          In Flatpak this is specified in a key-value file called "metadata", which goes in 
          the
          = succeed "directory." do
            %code hello
          For a simple app this doesn't contain much, so we can create it manually:
        %pre
          :preserve
            [Application]
            name=org.test.Hello
            runtime=org.gnome.Platform/x86_64/3.20
            command=hello.sh
        %p
          This specifies the application identifier (
          %em> org.test.Hello
          ) as
          well as the runtime the application uses and the command to start the app with.
        %h3 4. Put the app in a repository
        %p
          Congratulations, you've made an app! To be able to install it, you need to put it
          in a repository. This is done with the build-export command:
        %pre
          :preserve
              flatpak build-export repo hello
        %p
          This will initialize a local repository in the "repo" directory and export the app to it.
        %h3 5. Install
        %p
          Now we're ready to add the repository that was just created and install the app. 
          This is done with two commands:
        %pre
          :preserve
            flatpak --user remote-add --no-gpg-verify tutorial-repo repo
            flatpak --user install tutorial-repo org.test.Hello
        %p
          This will install the remote and the app in the users homedirectory due to the --user argument.
          This is useful for test builds and other local things.
        %h3 6. Run
        %p
          All that's left is to run the app. This can be done with:
        %pre
          :preserve
            flatpak run org.test.Hello
        %p
          This will print
          = succeed "." do
            %em Hello world, from a sandbox
        %p
          Ta da! That's it: you've successfully built, installed and run your first Flatpak. Many 
          of these steps are simplified by Flatpak's built in tools. For information on how to use 
          them, as well as how to build and distribute more complex apps 
          =link_to 'see the developers page.', 'developer.html'        
%section#get-involved
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Get Involved
        %hr.primary
        %p
          Flatpak is Free Software and is developed in the open, as a part of the Freedesktop 
          project. To get in touch, use the 
          %a{:href => "http://lists.freedesktop.org/mailman/listinfo/xdg-app"} xdg-app mailing list
          or 
          %em #flatpak
          IRC channel on Freenode. Code can be found on
          %a{:href => "https://github.com/flatpak/flatpak"} Github
          and issues are tracked on 
          = succeed "." do
            %a{:href => "https://github.com/flatpak/flatpak/issues"} Github Issues
