---
title: Flatpak - the future of application distribution
description: The days of chasing multiple Linux distributions are over. Standalone apps for Linux are here!
---

%section.bg-primary-neutral.centered
  .container
    .row.largegap
      .col-lg-12
        %h1.section-heading the best way to get apps on Linux
        %p Choose from a growing collection of apps.
    .row
      .col-lg-8.col-lg-offset-2
        %p
          =partial "app-grid.svg"
          
        %a#flathubbtn.btn.btn-default.btn-xl.page-scroll{:href => "http://flathub.org/apps.html"} Browse apps on Flathub


%section#devsplash.bg-secondary
  .container
    .row.largegap.centered
      .col-sm-6.col-sm-offset-3
        %h2 Publish apps on every linux distribution
        %p Flatpak is distro anostic. Developers can distribute on every Linux distribution simultaneously and with ease.
    .row
      .col-lg-8.col-lg-offset-2
        %p
          =partial "distro-grid.svg"
    .row
      .col-sm-8.col-sm-offset-2.centered
        %a.btn.btn-default.btn-xl.page-scroll{:href => "/hello-world.html"} 5 Minute Tutorial
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "http://docs.flatpak.org/en/latest/"} Developer Guide


%section.bg-primary-neutral
  .container
    .row.centered
      .col-sm-6.col-sm-offset-3
        %h2 A new world for application developers
    .row.largegap
      .col-sm-5.col-sm-offset-1
        %h4 Cross-distro
        %p Create one app bundle and distribute it to the entire Linux desktop market.
      .col-sm-5
        %h4 Stable platforms
        %p Runtimes provide stable sets of dependencies that can be used by applications.
    .row
      .col-sm-5.col-sm-offset-1
        %h4 Consistent environments
        %p Develop and test your application in an environment that's identical to the one users have.
      .col-sm-5
        %h4 Control over dependencies
        %p Dependencies that aren't in a runtime can be bundled as part of an application. Versions of the dependencies that are used can be fixed and patched.
    .row
      .col-sm-5.col-sm-offset-1
        %h4 Easy build tools
        %p 
          Flatpak's build tools are simple and easy to use, and come with a 
          =link_to 'full set of documentation.', 'http://docs.flatpak.org/'
      .col-sm-5
        %h4 Future-proof builds
        %p Runtimes are forward compatible, irrespective of distribution changes. Flatpak applications run on new Linux distribution versions as they are released.

%section.bg-primary
  .container
    .row.centered
      .col-sm-6.col-sm-offset-3
        %h2 What people are sying about Flatpak
    .row.largegap
      .col-sm-5.col-sm-offset-1
        %blockquote
          %p
            Bringing Flatpak technology into Debian enables us to run applications in a predictable environment with their most suitable library stack, without compromising the base OS's stability and flexibility.
          %p
            %em Lisa Boyd
      .col-sm-5
        %blockquote
          %p
            At Endless, we’re proud to be a part of this movement and have fully embraced Flatpak by readily converting all of our applications for our upcoming release and continuing to build new Flatpak apps.
          %p 
            %em Ördög Mirabella
    .row
      .col-sm-5.col-sm-offset-1
        %blockquote
          %p
            The Fedora Workstation team are very excited about Flatpak and the prospects it brings for making the Linux desktop easier to develop for.
          %p 
            %em Finn Simon
      .col-sm-5
        %blockquote
          %p
            Flatpak will enable us (as a Linux ISV) to distribute a better LibreOffice, with up-to-date dependencies and a platform that can run on many systems. I'm excited to see that happen.
          %p 
            %em Britt Laurent
