---
title: Flatpak—the future of application distribution
description: Press
---

%section#about
  .container
    .row
      .col-lg-8.col-lg-offset-2
        = image_tag '/img/delivery_truck.png'
    .row
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center Press Information
        %hr.primary
        %p
          We are very happy to hear from members of the press and can provide information and interview opportunities.
    .row
      .col-lg-8.col-lg-offset-2
        %h3 Press releases
        %p
          =link_to "21 June 2016 - Announcing Flatpak – Next Generation Linux Applications", "press/2016-06-21-flatpak-released.html"
    .row
      .col-lg-8.col-lg-offset-2
        %h3 Graphics and Logo
        %p
          The Flatpak logo is licensed ____ and can be downloaded here.
    .row
      .col-lg-8.col-lg-offset-2
        %h3 Contact
        %p
          Press queries, including requests for comments and interviews can be directed to 
          = succeed "." do
            =link_to "press@flatpak.org", "mailto:press@flatpak.org"
