---
title: Flatpak—the future of application distribution
description: Press
---

%section#about
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center Press Information
        %hr.primary
        %p
          We are very happy to hear from members of the press and can provide information and interview opportunities.
    .row
      .col-lg-8.col-lg-offset-2
        %h3 Press releases
        .timeline.mediumgap
          .date 20 Augist 2018
          .description
            =link_to "Flatpak 1.0 — First Stable Release", "press/2018-08-20-flatpak-1.0.html"
          .date 21 June 2016
          .description
            =link_to "Announcing Flatpak – Next Generation Linux Applications", "press/2016-06-21-flatpak-released.html"
    .row.largegap
      .col-lg-8.col-lg-offset-2
        %h3 Graphics and Logo
        %p
          The Flatpak logo is licensed Creative Commons Attribution 3.0 and can be 
          = succeed "." do
            =link_to "downloaded here", "/img/logo-press.png"
    .row
      .col-lg-8.col-lg-offset-2
        %h3 Contact
        %p
          Press queries, including requests for comments and interviews can be directed to 
          = succeed "." do
            =link_to "press@flatpak.org", "mailto:press@flatpak.org"
