---
title: Flatpak Runtimes
description: Available Flatpak runtimes.
---
%section
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1 Runtimes
        %p 
          This page provides information about available Flatpak runtimes. It is primarily intended as information for application developers and distributors. See the 
          =link_to "developer documentation", "http://docs.flatpak.org/en/latest/getting-setup.html"
          for more information about how to install runtimes and SDKs.
        %h2 Available runtimes
        %p
          There are currently two main runtimes available: Freedesktop and GNOME. The Freedesktop runtime is the standard runtime that can be used for any application and contains a set of essential libraries and services, including D-Bus, GLib, PulseAudio, X11 and Wayland,
        %p
          The GNOME runtime is based on the Freedesktop runtime and adds the GNOME platform, including libraries like GStreamer, GTK+, GVFS and more. It is appropriate for any application that makes use of the GNOME platform.
        %p
          A KDE runtime is in development.

        %ul#tabs.nav.nav-tabs{"role" => "tablist"}
          %li.active{:role => "presentation"}
            %a{:href => "#freedesktop", :role => "tab", "data-toggle" => "tab"} Freedesktop
          %li{:role => "presentation"}
            %a{:href => "#gnome", :role => "tab", "data-toggle" => "tab"} GNOME
          %li{:role => "presentation"}
            %a{:href => "#gnome-nightlies", :role => "tab", "data-toggle" => "tab"} GNOME Nightlies
        
        .tab-content.mediumgap
          %div#freedesktop.tab-pane.active.fade.in{:role => "tabpanel"}

            %p
              Freedesktop runtimes are hosted at 
              =link_to "sdk.gnome.org", "https://sdk.gnome.org/repo/"
              and signed with 
              = succeed "." do
                =link_to "this key", "https://sdk.gnome.org/keys/gnome-sdk.gpg"
              To add this repository, run:

            %p
            :preserve
              <pre>
              <span class="unselectable">$ </span>flatpak remote-add --from gnome https://sdk.gnome.org/gnome.flatpakrepo
              </pre>
            %p
              Available runtimes:

            %table
              %tbody
                %tr
                  %td ID
                  %td Description
                %tr
                  %td org.freedesktop.Platform
                  %td Runtime
                %tr
                  %td org.freedesktop.Platform.locale
                  %td Runtime translations (extension)
                %tr
                  %td org.freedesktop.Sdk
                  %td SDK
                %tr
                  %td org.freedesktop.Sdk.debug
                  %td SDK debug information (extension)
                %tr
                  %td org.freedesktop.Sdk.locale
                  %td SDK translations (extension)

            %h3 Runtime details
            %p
              The latest version of the Freedesktop runtime is 1.6 and includes the following:
            %pre.capheight
              :preserve
                 acl 2.2.52
                 alsa-lib 1.1.3
                 alsa-plugins 1.1.1
                 aspell 0.60.6.1
                 attr 2.4.47
                 autoconf-archive 2016.09.16
                 base-files qemux86_64 3.0.14
                 bash 4.3.30
                 bzip2 1.0.6
                 ca-certificates 20160104
                 cairo 1.14.8
                 clang 4.0.0
                 coreutils 8.25
                 cpio 2.12
                 cracklib 2.9.5
                 cups 2.1.0
                 curl 7.50.1
                 db 6.0.35
                 dbus 1.10.16
                 dejavu-fonts 2.37
                 desktop-file-utils 0.23
                 elfutils 0.166
                 file 5.28
                 findutils 4.6.0
                 flatpak-xdg-utils 0.1
                 fontconfig 2.12.1
                 freetype 2.7.1
                 gawk 4.1.3
                 gdk-pixbuf2 2.36.6
                 geoclue2 2.4.5
                 glib-networking 2.50.0
                 glib2 2.52.2
                 glibc 2.24
                 gnu-free-fonts 20120503
                 gnupg 2.1.14
                 gobject-introspection 1.52.1
                 google-crosextra-caladea-fonts 20130214
                 google-crosextra-carlito-fonts 20130920
                 gpgme 1.6.0
                 graphite2 1.3.9
                 grep 2.25
                 gstreamer 1.10.4
                 gstreamer-plugins-bad 1.10.4
                 gstreamer-plugins-base 1.10.4
                 gstreamer-plugins-good 1.10.4
                 gstreamer-plugins-ugly 1.10.4
                 gtk-doc 1.25
                 gzip 1.8
                 harfbuzz 1.4.4
                 hicolor-icon-theme 0.15
                 hunspell 1.3.3
                 hyphen 2.8.8
                 icu 57.1
                 initscripts-functions 1.0
                 iso-codes 3.70
                 itstool 2.0.2
                 json-glib 1.2.8
                 krb5 1.13.2
                 krb5-locale-en-us 1.13.2
                 lcms 2.7
                 ldd 2.24
                 less 481
                 libICE 1.0.9
                 libSM 1.2.2
                 libX11 1.6.5
                 libXScrnSaver 1.2.2
                 libXau 1.0.8
                 libXcomposite 0.4.4
                 libXcursor 1.1.14
                 libXdamage 1.1.4
                 libXdmcp 1.1.2
                 libXext 1.3.3
                 libXfixes 5.0.3
                 libXft 2.3.2
                 libXi 1.7.9
                 libXinerama 1.1.3
                 libXpm 3.5.12
                 libXrandr 1.5.1
                 libXrender 0.9.10
                 libXt 1.1.5
                 libXtst 1.2.3
                 libXv 1.0.11
                 libXxf86vm 1.1.4
                 libacl1 2.2.52
                 libappstream-glib 0.6.12
                 libarchive 3.2.2
                 libasm1 0.166
                 libassuan0 2.4.3
                 libatomic-ops 7.4.4
                 libatomic1 6.2.0
                 libattr1 2.4.47
                 libblkid1 2.28.1
                 libbz2-1 1.0.6
                 libc6 2.24
                 libc6-utils 2.24
                 libcap2 2.25
                 libcom-err2 1.43
                 libcroco 0.6.11
                 libcrypto1.0.2 1.0.2j
                 libcurl4 7.50.1
                 libdrm 2.4.79
                 libdw1 0.166
                 libelf1 0.166
                 libepoxy 1.4.1
                 liberation-fonts 2.00.1
                 libexif-locale-en-gb 0.6.21
                 libexif12 0.6.21
                 libexpat1 2.2.0
                 libffi6 3.2.1
                 libflac8 1.3.1
                 libgcc1 6.2.0
                 libgcrypt 1.7.3
                 libgdbm-compat4 1.12
                 libgdbm4 1.12
                 libgif7 5.1.4
                 libglvnd 4ba5345742d6c98b528ac28fb7127006d2cc3f75
                 libgmp10 6.1.1
                 libgnutls30 3.5.3
                 libgomp1 6.2.0
                 libgpg-error0 1.24
                 libgpgme-pthread11 1.6.0
                 libicudata57 57.1
                 libicui18n57 57.1
                 libicuio57 57.1
                 libicule57 57.1
                 libicutu57 57.1
                 libicuuc57 57.1
                 libidn11 1.33
                 libjpeg62 1.5.0
                 libjson-c2 0.12
                 libksba8 1.3.4
                 libltdl7 2.4.6
                 liblzma5 5.2.2
                 libmount1 2.28.1
                 libmpc3 1.0.3
                 libmpfr4 3.1.4
                 libncurses5 6.0+20160625
                 libncursesw5 6.0+20160625
                 libnpth0 1.2
                 libogg0 1.3.2
                 libpanel5 6.0+20160625
                 libpanelw5 6.0+20160625
                 libpciaccess 0.13.5
                 libpcre1 8.39
                 libpcrecpp0 8.39
                 libpcreposix0 8.39
                 libpng16-16 1.6.24
                 libpopt0 1.16
                 libproxy 0.4.14
                 libpython2.7-1.0 2.7.12
                 libpython3.5m1.0 3.5.2
                 libreadline6 6.3
                 librsvg 2.40.16
                 libsamplerate0 0.1.8
                 libsasl2-3 2.1.26
                 libseccomp 2.3.2
                 libsndfile1 1.0.27
                 libsoup 2.56.0
                 libspeex1 1.2rc2
                 libspeexdsp1 1.2rc3
                 libsqlite3-0 3.14.1
                 libssl1.0.2 1.0.2j
                 libssp0 6.2.0
                 libstdc++6 6.2.0
                 libtasn1-6 4.9
                 libtheora 1.1.1
                 libtiff5 4.0.7
                 libtinfo5 6.0+20160625
                 libuuid1 2.28.1
                 libva libva-1.7.3
                 libva-vdpau-driver 0.7.4
                 libvdpau 1.1.1
                 libverto1 0.2.6
                 libvorbis 1.3.5
                 libvpx 1.5.0
                 libwebp 0.5.1
                 libxcb 1.12
                 libxkbcommon 0.7.1
                 libxml2 2.9.4
                 libxml2-python 2.9.4
                 libxshmfence 1.2
                 libxslt 1.1.29
                 libz1 1.2.8
                 llvm 4.0.0
                 mesa 17.0.5
                 meson 0.40.1
                 mpg123 1.24.0
                 ncurses 6.0+20160625
                 ncurses-terminfo-base 6.0+20160625
                 nettle 3.2
                 nspr 4.12
                 nss 3.25
                 openal 1.17.2
                 openssl 1.0.2j
                 openssl-conf 1.0.2j
                 orc 0.4.26
                 p11-kit 0.23.2
                 pango 1.40.5
                 pcre2 10.22
                 pinentry 0.9.2
                 pixman 0.34.0
                 procps 3.3.12
                 pulseaudio 10.0
                 python 2.7.12
                 python3 3.5.2
                 SDL2 2.0.5
                 SDL2_image 2.0.1
                 SDL2_mixer 2.0.1
                 SDL2_net 2.0.1
                 SDL2_ttf 2.0.14
                 sed 4.2.2
                 shared-mime-info 1.8
                 sqlite3 3.14.1
                 tar 1.29
                 task-freedesktop-contents-platform qemux86_64 1.0
                 tzdata 2016i
                 unzip 6.0
                 util-linux-getopt 2.28.1
                 util-linux-uuidgen 2.28.1
                 vulkan 1.0.46.0
                 wayland 1.12.0
                 wayland-protocols 1.7
                 which 2.21
                 xcb-proto 1.12
                 xcb-util 0.4.0
                 xcb-util-cursor 0.1.3
                 xcb-util-image 0.4.0
                 xcb-util-keysyms 0.4.0
                 xcb-util-renderutil 0.3.9
                 xcb-util-wm 0.4.1
                 xdg-user-dirs 0.15
                 xkeyboard-config 2.20
                 xorg-x11-proto-bigreqs 1.1.2
                 xorg-x11-proto-composite 0.4.2
                 xorg-x11-proto-damage 1.2.1
                 xorg-x11-proto-dmx 2.3.1
                 xorg-x11-proto-dri2 dri2proto-2.8
                 xorg-x11-proto-dri3 1.0
                 xorg-x11-proto-evieext 1.1.1
                 xorg-x11-proto-fixes 5.0
                 xorg-x11-proto-fonts 2.1.3
                 xorg-x11-proto-gl 1.4.17
                 xorg-x11-proto-input 2.3.2
                 xorg-x11-proto-kb 1.0.7
                 xorg-x11-proto-present 1.1
                 xorg-x11-proto-randr 1.5.0
                 xorg-x11-proto-record 1.14.2
                 xorg-x11-proto-render 0.11.1
                 xorg-x11-proto-resource 1.2.0
                 xorg-x11-proto-scrnsaver 1.2.2
                 xorg-x11-proto-video 2.3.3
                 xorg-x11-proto-x 7.0.31
                 xorg-x11-proto-xcmisc 1.2.2
                 xorg-x11-proto-xext 7.3.0
                 xorg-x11-proto-xf86bigfont 1.2.0
                 xorg-x11-proto-xf86dga 2.1
                 xorg-x11-proto-xf86dri 2.1.1
                 xorg-x11-proto-xf86misc 0.9.3
                 xorg-x11-proto-xf86vidmode 2.3.1
                 xorg-x11-proto-xinerama 1.2.1
                 xorg-x11-proto-xproxymanagement 1.0.3
                 xorg-x11-util-macros 1.19.1
                 xorg-x11-xtrans-devel 1.3.5
                 xz 5.2.2
                 zip 3.0
              
          %div#gnome.tab-pane.fade{:role => "tabpanel"}

            %p
              GNOME runtimes are hosted at 
              =link_to "sdk.gnome.org", "https://sdk.gnome.org/repo/"
              and signed with 
              = succeed "." do
                =link_to "this key", "https://sdk.gnome.org/keys/gnome-sdk.gpg"
              To add this repository, run:
            :preserve
              <pre>
              <span class="unselectable">$ </span>flatpak remote-add --from gnome https://sdk.gnome.org/gnome.flatpakrepo
              </pre>
            %p
              Available runtimes:

            %table
              %tbody
                %tr
                  %td ID
                  %td Description
                %tr
                  %td org.gnome.Platform
                  %td Runtime
                %tr
                  %td org.gnome.Platform.locale
                  %td Runtime translations (extension)
                %tr
                  %td org.gnome.Sdk
                  %td SDK
                %tr
                  %td org.gnome.Sdk.debug
                  %td SDK debug information (extension)
                %tr
                  %td org.gnome.Sdk.locale
                  %td SDK translations (extension)

            %h3 Runtime details
            %p
              The latest version of the GNOME runtime is 3.24. It includes everything from the 1.6 Freedesktop runtime, as well as:

            %pre.capheight
              :preserve
                 adwaita-icon-theme 3.24.0
                 at-spi2-atk 2.24.0
                 at-spi2-core 2.24.0
                 atk 2.24.0
                 cantarell-fonts 0.0.25
                 clutter 1.26.0
                 clutter-gst 3.0.22
                 clutter-gtk 1.8.2
                 cogl 1.22.2
                 dbus-glib 0.108
                 dconf 0.26.0
                 enchant 1.6.0
                 gcab 0.7
                 gcr 3.20.0
                 gdk-pixbuf 2.36.6
                 gjs 1.48.0
                 glib 2.52.2
                 glib-networking 2.50.0
                 gnome-common 3.18.0
                 gnome-themes-standard 3.22.3
                 gobject-introspection 1.52.1
                 gsettings-desktop-schemas 3.24.0
                 gtk2 2.24.31
                 gtk3 3.22.15
                 gvfs 1.32.1
                 json-glib 1.2.8
                 libcanberra 0.30
                 libcroco 0.6.11
                 libdatrie 0.2.9
                 libnotify 0.7.6
                 librsvg 2.40.16
                 libsecret 0.18.5
                 libsoup 2.58.1
                 libthai 0.1.22
                 mozjs38 38.2.1
                 pango 1.40.5
                 pycairo 1.10.0
                 pygobject 3.24.1
                 python-gstreamer 1.10.4
                 vala 0.36.1
                 vte 0.48.2
                 webkitgtk4 2.16.2
                 yelp 3.22.0
                 yelp-tools 3.18.0
                 yelp-xsl 3.20.1
                 zenity 3.22.0

          %div#gnome-nightlies.tab-pane.fade{:role => "tabpanel"}

            %p
              The GNOME nightly runtimes provide nightly development snapshots of the GNOME runtimes. They are unstable and are useful for testing and development purposes only.
            %p
              GNOME nightly runtimes are hosted at 
              =link_to "sdk.gnome.org", "https://sdk.gnome.org/nightly/repo/"
              and signed with 
              = succeed "." do
                =link_to "this key", "https://sdk.gnome.org/nightly/keys/nightly.gpg"
              To add this repository, run:
            :preserve
              <pre>
              <span class="unselectable">$ </span>flatpak remote-add --from gnome-nightly https://sdk.gnome.org/gnome-nightly.flatpakrepo
              </pre>
            %p
              All nightly runtimes have master as the version:

            %table
              %tbody
                %tr
                  %td ID
                  %td Description
                %tr
                  %td org.gnome.Platform
                  %td Runtime
                %tr
                  %td org.gnome.Platform.locale
                  %td Runtime translations (extension)
                %tr
                  %td org.gnome.Sdk
                  %td SDK
                %tr
                  %td org.gnome.Sdk.debug
                  %td SDK debug information (extension)
                %tr
                  %td org.gnome.Sdk.locale
                  %td SDK translations (extension)

:javascript
$(function () {

});
